@media (max-width: 1400px) {
  .clouds-dark-img {
    height: 150px;
  }
}

@media (min-width: 1200px) {

  /* showcase section */
  .section-showcase-inner .container {
    max-width: 900px;
  }

  .container-9 {
    max-width: 900px;
  }

  .container-16 {
    max-width: 1600px;
  }

  .container-17 {
    max-width: 1700px;
  }

  /* footer */
  .footer .footer-top > div:nth-child(2) {
    padding-left: 76px;
  }

  .footer .footer-top > div:nth-child(4) {
    padding-left: 90px;
  }

  /***** skills test pages *****/
  .skills-section .form-container {
    padding-right: 100px;
  }
}

@media (min-width: 992px) {
  .border-left-lg-1 {
    border-left: 1px solid #C6C6C6;
  }
}

@media (max-width: 1200px) {

  /* utilities */
  .secondary-title {
    font-size: 30px;
    margin-bottom: 80px;
    line-height: 40px;
  }

  /* showcase section */
  .showcase-section {
    height: auto;
  }

  .showcase-section h1 {
    font-size: 4rem;
    margin-bottom: 100px;
  }

  /* procedure section */
  .procedure-section .procedure-col:first-of-type {
    padding-right: 105px;
  }

  .procedure-section .procedure-col:last-of-type {
    padding-left: 105px;
  }

  .procedure-section .first-arrow {
    height: 170px;
    top: 40px;
    right: -37px;
  }

  .procedure-section .second-arrow {
    height: 93px;
    top: 75px;
    left: -35px;
  }

  /* contact section */
  .contact-section-left {
    grid-gap: 0;
  }

  /* about section */
  .about-section {
    font-size: 16px;
  }

  /* footer */
  .footer .footer-top {
    text-align: center;
  }
}


@media (max-width: 992px) {

  /***** home page  *****/
  /* navbar */
  .navbar .navbar-brand {
    font-size: 30px;
  }

  .navbar .navbar-nav .nav-item:last-child {
    padding-left: 0;
  }

  /* showcase section */
  .showcase-section h1 {
    font-size: 38px;
    margin-bottom: 100px;
  }

  .showcase-section .lead {
    margin-bottom: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-right: 11px;
    padding-left: 11px;
  }

  .section-showcase-inner .btn {
    font-size: 18px;
  }

  /* procedure section */
  .about-section .secondary-title,
  .contact-section-2 .secondary-title {
    margin-bottom: 20px;
  }

  /***** skills test page  *****/
  .skills-section .instructions,
  .skills-section .accordion h2 button,
  .skills-section .accordion label,
  .skills-section .btn {
    font-size: 16px;
  }


  .accordion .card-header button::after {
    top: 22px;
  }

  .score-mobile {
    padding-left: 30px;
    display: inline-block;
    padding-top: 8px;
    font-weight: 600;
  }

  /* range input styles  */
/*
  input[type=range]::-webkit-slider-runnable-track,
  input[type=range]::-webkit-slider-thumb,
  input[type=range]:focus::-webkit-slider-runnable-track,
  input[type=range]::-moz-range-track,
  input[type=range]::-moz-range-thumb,
  input[type=range]::-ms-fill-lower,
  input[type=range]::-ms-fill-upper, 
  input[type=range]::-ms-thumb,
  input[type=range]:focus::-ms-fill-lower,
  input[type=range]:focus::-ms-fill-upper {
    background: #35A868 !important;
  }
*/

}

@media (max-width: 768px) {

  .contact-section .row,
  .contact-section-2 .row {
    flex-direction: column-reverse;
  }

  .contact-section .secondary-title {
    margin-top: 80px;
  }

  .contact-section-2 .secondary-title {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {

  /* utilities */
  .btn {
    max-width: 288px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }

  .navbar .btn {
    width: auto;
  }

  .clouds-white-img {
    height: 59px;
    background-size: contain;
    background-position-y: 30px;
  }

  /* navbar */
  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar .btn {
    padding: 10px 30px;
  }

  /* showcase section */
  .showcase-section {
    clip-path: polygon(100% 100%, 50% 88%, 0 100%, 0 0, 100% 0);
    background-position: right;
  }

  .showcase-section-inner {
    padding-top: 130px;
  }

  .showcase-section h1 {
    font-size: 2.3rem;
    margin-bottom: 50px;
  }

  .showcase-section h1 span {
    display: inline;
  }

  /* procedure section */
  .procedure-section .btn {
    font-size: 18px;
    margin-bottom: 80px;
  }

  .procedure-slider p {
    font-size: 16px;
    padding-right: 13px;
    padding-left: 12px;
  }

  /* contact section */
  .clouds-dark-img {
    height: 58px;
    /*    background-size: contain;*/
    background-position: bottom;
    background-position-y: 26px;
  }

  .contact-section {
    padding-top: 70px;
  }

  /* about section */
  .about-section {
    padding-bottom: 160px;
  }

  /* contact section 2 */
  .contact-section-2 {
    margin-top: -158px;
    padding-right: 9px;
    padding-left: 9px;
  }

  /* footer */
  .footer {
    clip-path: polygon(50% 0, 100% 3%, 100% 100%, 0 100%, 0 3%);
  }

  .footer .ul-container {
    grid-template-columns: 1fr;
  }

  .footer .ul-container ul:first-of-type {
    margin-bottom: 0;
  }

  .footer .ul-container ul:last-of-type {
    margin-top: 0;
  }

  .footer .footer-partners {
    margin-top: 0;
  }

  .footer .social-media {
    max-width: 300px;
  }

}
