/*
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif;
*/

body {
  font-family: 'Playfair Display', serif;
  background-color: #FAFAFA;
}

/* utilities */
.primary-color {
  color: #963CFB;
}

.bold {
  font-weight: bold;
}

.bold-6 {
  font-weight: 600;
}

.btn {
  color: #fff;
  background-color: #963CFB;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 26px;
  font-family: 'Work Sans', sans-serif;
  z-index: 500;
}

.btn:hover {
  color: #EFE7FE;
}

.bg-black {
  background-color: black;
}

.secondary-title {
  text-align: center;
  color: #0F0619;
  font-size: 70px;
}

.secondary-title strong {
  font-family: 'Work Sans', sans-serif;

}

.mb-100 {
  margin-bottom: 100px;
}

.clouds-dark-img {
  height: 190px;
  width: 100%;
  background-color: #f7f7f7;
  background-image: url("img/Intersection-11.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 50px;
}

.clouds-white-img {
  height: 190px;
  width: 100%;
  background-image: url("img/Intersection-12.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 70px;
}

/* navbar */
.navbar {
  padding-right: 50px;
  padding-left: 50px;
  z-index: 500;
  font-family: 'Work Sans', sans-serif;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 50px;
  color: #EFE7FE;
  margin-right: 50px;
  font-family: 'Oswald', sans-serif;
}

.navbar .navbar-nav {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar .navbar-nav .nav-item {
  padding-right: 30px;
}

.navbar ul li a {
  color: #EFE7FE;
  font-size: 18px;
}

.navbar .btn.bg-black {
  font-size: 18px;
}


/* navbar button responsive */
.navbar-dark .navbar-toggler {
  border: none;
}

.custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* showcase section */
.showcase-section {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/image-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #EFE7FE;
  clip-path: polygon(100% 100%, 50% 93%, 0 100%, 0 0, 100% 0);
  padding-bottom: 150px;
}

.section-showcase-inner {
  text-align: center;
  padding-top: 80px;
}

.showcase-section h1 {
  font-size: 116px;
  margin-bottom: 70px;
}

.showcase-section h1 span {
  display: block;
  font-family: 'Work Sans', sans-serif;
}

.showcase-section .lead {
  color: #b0a5a5;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  font-size: 34px;
  font-family: 'Work Sans', sans-serif;
  font-weight: light;
}

.showcase-section .lead span {
  text-transform: uppercase;
  color: white;
}

/* procedure section */
.procedure-section {
  margin: -80px 10px 50px 10px;
  position: relative;
  overflow: hidden;
}

.procedure-section-top {
  text-align: center;
}

.procedure-section .btn {
  font-size: 26px;
  margin-bottom: 50px;
}

.procedure-section .procedure-col {
  position: relative;
}

.procedure-section .procedure-col:first-of-type {
  padding-right: 120px;
  padding-left: 0;
  padding-top: 50px;
}

.procedure-section .procedure-col:last-of-type {
  padding-left: 120px;
  padding-right: 0;
  padding-top: 80px;
}

.procedure-section .first-arrow {
  height: 200px;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: -45px;
}

.procedure-section .second-arrow {
  height: 110px;
  position: absolute;
  z-index: 10;
  top: 117px;
  left: -44px;
}

.procedure-section .procedure-col p,
.procedure-slider p {
  font-size: 24px;
  color: #0F0619;
  margin-top: 50px;
  font-family: 'Work Sans', sans-serif;
}

.procedure-slider {
  text-align: center;
  font-size: 16px;
}

.procedure-slider .slick-dots li button:before {
  font-size: 23px;
}

.slick-dots li.slick-active button:before {
  color: #963CFB !important;
}

/* contact section */
.contact-section {
  background-color: #ECECEC;
}

.contact-section-left {
  display: grid;
  grid-gap: 80px;
}

.contact-section-left .btn {
  max-width: 400px;
  margin: auto;
}

/* about section */
.about-section {
  font-size: 24px;
  background-color: #F6F6F6;
  clip-path: polygon(100% 100%, 50% 93%, 0 100%, 0 0, 100% 0);
  padding-bottom: 100px;
  padding-right: 9px;
  padding-left: 9px;
}

.about-section .secondary-title {
  text-align: left;
  margin-bottom: 50px;
}

.about-section p {
  font-family: 'Work Sans', sans-serif;
}

/* contact section 2 */
.contact-section-2 {
  margin-top: -110px;
  padding-bottom: 50px;
}

.contact-section-2 .secondary-title {
  text-align: left;
  margin-bottom: 25px;
}

.contact-section-2 p {
  font-family: 'Work Sans', sans-serif;
}

.contact-section-2 .btn {
  margin-top: 20px;
}

/* footer */
.footer {
  background-color: #2F1350;
  color: #EFF7FD;
  font-family: 'Work Sans', sans-serif;
  clip-path: polygon(50% 0, 100% 7%, 100% 100%, 0 100%, 0 7%);
  padding-top: 100px;
  padding-bottom: 30px;
}

.footer ul {
  list-style: none;
  font-size: 15px;
  padding-left: 0;
}

.footer .ul-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer .ul-container ul:last-of-type {
  margin-top: 18px;
}

.footer ul li {
  margin-bottom: 20px;
}

.footer .footer-partners {
  margin-top: 60px;
}

.footer .footer-list-title {
  font-weight: bold;
}

.footer ul li a {
  color: #EFF7FD;
  text-decoration: none;
  font-weight: 100;
}

.footer .social-media {
  font-size: 25px;
  text-align: center;
  max-width: 330px;
  margin: auto;
  z-index: 3;
  position: relative;
  background-color: #2F1350;
}

.footer .social-media a {
  margin-right: 30px;
  color: white;
}

.footer .social-media a:last-of-type {
  margin-right: 0;
}

.footer hr {
  background-color: white;
  /*  width: 97%;*/
  margin: auto;
  margin-top: -20px;
}

.footer .footer-logo {
  text-align: center;
  margin-top: 40px;
}

.footer .footer-logo img {
  height: 70px;
  mix-blend-mode: screen;
}


/***** advisor portal page *****/
.skills-section {
  font-family: 'Work Sans', sans-serif;
  background-color: #F5F5F5;
}

.skills-section .form-container {
  padding-top: 60px;
}

.skills-section .instructions {
  color: #0F0619;
  font-size: 24px;
  max-width: 750px
}

.skills-section .accordion > .card {
  border-radius: 10px;
  border: none;
}

/*
.accordion > .card > .card-header {
  margin-bottom: 0;
  padding: 1.3rem 1.25rem;
}
*/

.accordion .card-header button::after {
  font-family: 'FontAwesome';
  content: "\f106";
  font-size: 20px;
  color: #6E6E6E;
  position: absolute;
  right: 28px;
  top: 25px;
  transition: 400ms;
}

.accordion .card-header button.collapsed::after {
  transform: rotate(180deg);
}


.skills-section .accordion > .card > .card-header {
  background-color: #FAFAFA;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 1.3rem 1.25rem;
}

.skills-section .accordion h2 button {
  border: none;
  color: #6E6E6E;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
}


.skills-section .accordion .form-group div {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.skills-section .accordion label {
  font-size: 20px;
  color: #0F0619;
}

.skills-section [data-toggle="tooltip"] {
  font-size: 18px;
  color: #963CFB;
}

.skills-section .accordion .card-body span {
  color: #9F9F9F;
  /*  max-width: fit-content;*/
}

.skills-section .btn {
  width: 259px;
  text-transform: uppercase;
}

.skills-section__right {
  min-height: 100vh;
  position: relative;
}

.skills-section .occupations-container {
  padding-top: 122px;
}

.skills-section .occupations-container .form-group {
  position: relative;
}

.skills-section .occupations-container .form-group input {
  padding-left: 40px;
  color: #747474;
  font-weight: 600;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid #C6C6C6;
  background-color: transparent;
}

.skills-section .occupations-container .form-group i {
  position: absolute;
  top: 15px;
  left: 13px;
  font-size: 19px;
  color: #343434;
}

.skills-section .occupations-container h3 {
  color: color: #0F0619;
  font-size: 24px;
  font-weight: bold;
}

.skills-section .occupations-container ul li {
  margin-bottom: 20px;
  color: #515151;
}

.skills-section .occupations-container ul .fa-heart {
  font-size: 18px;
}

.skills-section .occupations-container ul .fa-solid.fa-heart {
  color: #FF0000;
}

.skills-section .occupations-container ul .fa-regular.fa-heart {
  color: #2A2A2A;
}

.skills-section .contact-us {
  position: absolute;
  right: 0;
  bottom: 15px;
  text-align: right;

}

.skills-section .contact-us p {
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.22px;
  color: #515151;
  transform: translateX(-6%);
  border: 4px solid #DFDFDF;
  border-radius: 30px 30px 30px 60px;
  padding: 20px 24px;
  background-color: white;
  box-shadow: -8px 8px #DFDFDF;
}

.skills-section .contact-us p:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 100px;
  width: 0;
  border-top: 30px solid #DFDFDF;
  border-left: 60px solid transparent;
  border-right: 20px solid transparent;

}

.skills-section .contact-us a {
  color: #963CFB;
  text-decoration: none;
}

#resultsModal {}

#resultsModal .close {
  color: #963CFB;
  opacity: 1;
  font-size: 35px;
  font-weight: 400;
}

#resultsModal .modal-header,
#resultsModal .modal-footer {
  border: 0;
}

#resultsModal .modal-footer button {
  max-width: none;
}

#resultsModal .modal-body .occupations-container {
  padding-top: 0;
}

#resultsModal .occupations-container .form-group input {
  border-bottom: 1px solid #343434;
}

#resultsModal [data-toggle="tooltip"] {
  display: none;
}

/*
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #963CFB;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #963CFB;
}

.form-range::-webkit-slider-thumb {
  background-color: #963CFB;
}

.form-range::-moz-range-thumb {
  background-color: #963CFB;
}*/
